@media screen and (max-width: 550px) {

	.fw-box {
		width: 100%;
	}

	.footer-box {
		width: 100%;
	}
}

@media screen and (min-width: 551px) {

    .fw-box {
		width: 40%;
	}
	.container_right {
		padding-top: 40px;
	}
}


@media screen and (min-width: 750px) {

.fw-box {
		width: 25%;
	}

}

@media screen and (min-width: 950px) {

	body {
		width: 950px;
		margin-left: auto;
		margin-right: auto;
	}
}